<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="resource.NewsMapper">
	<!-- listAll  -->
 	<select id="selectNews"  resultType="model.vo.NewsVO"> 
    	select id, writer, title, content, writedate, cnt from news
 	</select>
 	
 	<!-- listOne  -->
 	<select id="listOneNews" parameterType="_int" resultType="model.vo.NewsVO">
 		SELECT ID, WRITER, TITLE, CONTENT, 
 				TO_CHAR(WRITEDATE, 'yyyy-mm-dd"T"hh24:mi') writedate, CNT
					FROM NEWS WHERE ID = #{id}
 	</select>
 	
    
    <!-- delete  -->
    <delete id="deleteNews"  parameterType="_int"  >
    	delete from news where id = #{id}
	</delete>
  	
	
	<!-- search  -->
	<select id="searchNews"  parameterType="map" resultType="model.vo.NewsVO">
    	select * from news where ${searchType} LIKE '%' || #{key} || '%'
    	<!-- select id, writer, title, content, writedate, cnt from news '%'||#{key}||'%'-->
 	</select>
	
	
	<!-- writer  -->
	<select id="writerNews"  parameterType="string" resultType="model.vo.NewsVO">
    	select ID, WRITER, TITLE, CONTENT, WRITEDATE, CNT from news where writer like #{writer}
    </select>
	
	
	<!-- insert  -->
	<insert id="insertNews"  parameterType="model.vo.NewsVO">
			
  		<selectKey resultType="int" keyProperty="id" order="BEFORE">
      		select NEWS_SEQ.nextval from dual     
    	</selectKey>  
    		INSERT INTO NEWS
    		values (#{id}, #{writer}, #{title}, #{content}, to_date(#{writedate}, 'yyyy-mm-dd"T"hh24:mi'), #{cnt})
    		<!-- VALUES (#{id}, #{writer}, #{title}, #{content},	TO_DATE(#{writedate}, 'yyyy-mm-dd\"T\"hh24:mi'), #{cnt}) -->
    		<!-- insert into meeting (id, name, title, meetingdate) values (#{id}, #{name}, #{title}, to_date(#{meetingDate}, 'yyyy-mm-dd"T"hh24:mi')) -->
	</insert>	
	
	<!-- update  -->
	<update id="updateNews"  parameterType="model.vo.NewsVO"  >
		UPDATE NEWS SET 
					WRITER = #{writer}, 
					TITLE = #{title},
					CONTENT = #{content},
					CNT = #{cnt},
					WRITEDATE = TO_DATE(#{writedate}, 'yyyy-mm-dd"T"hh24:mi') 
		WHERE ID = #{id}
	</update>
</mapper>